# Imports

In [ ]:
import math
import pandas as pd

# Input Data

In [ ]:
n = 25
weights = [51, 62, 69, 64, 65, 56, 58, 57, 55, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 53, 54, 55, 60, 51, 52]
heights = [167, 182, 176, 173, 172, 174, 169, 173, 170, 180, 179, 178, 177, 176, 175, 174, 173, 172, 171, 173, 174, 175, 170, 171, 172]
classes = [0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1] # 0 = Underweight, 1 = Normal

Eucledian Distance

In [ ]:
def euclideanDist(p, q):
  x1 = p[0]
  y1 = p[1]
  x2 = q[0]
  y2 = q[1]
  return round(math.sqrt((x1 - x2)**2 + (y1 - y2)**2), 2)

Dataframe Definition

In [ ]:
df = pd.DataFrame(list(zip(weights, heights, classes)), columns = ['Weight', 'Height', 'Class'])
copied_df = df.copy() # copied dataframe for accuracy calculation
df

    Weight  Height  Class
0       51     167      0
1       62     182      1
2       69     176      1
3       64     173      1
4       65     172      1
5       56     174      0
6       58     169      1
7       57     173      1
8       55     170      1
9       50     180      0
10      51     179      0
11      52     178      0
12      53     177      0
13      54     176      0
14      55     175      0
15      56     174      0
16      57     173      1
17      58     172      1
18      59     171      1
19      53     173      0
20      54     174      1
21      55     175      0
22      60     170      1
23      51     171      0
24      52     172      1

# KNN Classifier

Training & Testing Data

In [ ]:
k = 5 # no of nearest neighbors
l = 15 # no of training data 
t = n - l # no of testing data
m = len(df) - t # test data start index
unknown = df.iloc[l:, 0:2].values.tolist() # test data list
print(unknown)

[[56, 174], [57, 173], [58, 172], [59, 171], [53, 173], [54, 174], [55, 175], [60, 170], [51, 171], [52, 172]]

Training

In [ ]:
for j in range(0, len(unknown)): # testing data

  # Calculate euclidean distance
  dist = []
  for i in range(0, m): # training data
    p = df.iloc[i]
    dist.append([i, euclideanDist(unknown[j], p)]) # index, distance

  # Sort distances
  dist.sort(key= lambda a: a[1]) # sort list by distance

  # Classification
  c1 = 0 # no of nearest neighbors of first class
  c2 = 0 # no of nearest neighbors of second class

  for i in range(0, k): # takes k nearest neighbors under consideration
    if df.iloc[dist[i][0]][2] == 1: # if first class's point is closest
      c1 = c1 + 1
    else:
      c2 = c2 + 1
  print('c1: ', c1, 'c2: ',c2)

  if c1 > c2:
    df.iloc[l][2] = 1 # assigned as class 1
    l = l + 1
  else:
    df.iloc[l][2] = 0 # assigned as class 2
    l = l + 1

c1:  2 c2:  3
c1:  3 c2:  2
c1:  3 c2:  2
c1:  4 c2:  1
c1:  2 c2:  3
c1:  1 c2:  4
c1:  1 c2:  4
c1:  5 c2:  0
c1:  1 c2:  4
c1:  1 c2:  4

In [ ]:
df[m:]

    Weight  Height  Class
15      56     174      0
16      57     173      1
17      58     172      1
18      59     171      1
19      53     173      0
20      54     174      0
21      55     175      0
22      60     170      1
23      51     171      0
24      52     172      0

In [ ]:
copied_df[m:]

    Weight  Height  Class
15      56     174      0
16      57     173      1
17      58     172      1
18      59     171      1
19      53     173      0
20      54     174      1
21      55     175      0
22      60     170      1
23      51     171      0
24      52     172      1

# Testing

In [ ]:
result = df.iloc[m:, 2].values.tolist()
print('Result:', result)
origin = copied_df.iloc[m:, 2].values.tolist()
print('Original:', origin)

Result: [0, 1, 1, 1, 0, 0, 0, 1, 0, 0]
Original: [0, 1, 1, 1, 0, 1, 0, 1, 0, 1]

In [ ]:
matched = 0
non_matched = 0
for i in range(0, len(result)):
  if result[i] == origin[i]:
    matched = matched + 1
  else:
    non_matched = non_matched + 1
print(matched, non_matched)

8 2

In [ ]:
acc = (matched / (matched + non_matched)) * 100
print('Accuracy: ', acc, '%')

Accuracy:  80.0 %